<div class="container">
    <h2 class="title">Add New Subject</h2>
    <form (submit)="addNewEmployee(addEmployeeForm)" #addEmployeeForm="ngForm">
        <div class="form-row">
            <div class="col-md-12">
                <label for="validationServer01">Subject Name</label>
                <input type="text" class="form-control" value="Enter Employee Name" required name="employee_name" ngModel>
            </div>
            <div class="col-md-12">
                <label for="validationServer02">chapter Name</label>
                <input type="text" class="form-control" required name="employee_salary" ngModel>
            </div>
            <div class="col-md-12">
                <label for="validationServer02">Topic Name</label>
                <input type="text" class="form-control" required name="employee_age" ngModel>
            </div>
        </div><br>
        <button class="btn btn-primary" type="submit">Submit</button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="BackPage()">Back</button>
    </form>
</div>